<div>
    <% if (message.length > 0) { %>
        <div class="alert <%= message[0] == 'success' ? 'alert-success' : 'alert-danger' %>" role="alert">
            <p><%= message[1] %></p>
            <button id="closeAlert">X</button>
        </div>
    <% } %>
</div>
<div class="container_body">
    <div class="carosel">
        <img src="/images/carosel 1.png" alt="">
    </div>
    <div class="blog_title_container">
        <h1 class="blog_title">BLOG</h1>
    </div>
    <div class="blogs_container">
        <div class="all_blog_title">
            <h3>All Blogs</h3>
        </div>
        <div class="blog_choice">
            <select name="category" class="select_cat_btn" onchange="location = this.value">
                <option value="" disabled selected>Select Category</option>
                <option value="/">All</option>
                <% category.forEach(ele => { %>
                    <option value="/category/<%= ele.id %>"><%= ele.name_category %></option>
                <% }) %>
            </select>
            <div class="search_container">
                <form action="/search" method="POST">
                    <input type="search" name="search" placeholder="search blogs ...">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </form>
            </div>
            <a href="/blog" style="text-decoration: none;">
                <button class="add_blog_btn">
                    +
                </button>
            </a>
        </div>
    </div>
    <div class="blog_list_container">
        <% blogs.forEach(ele => { %>
            <div class="blog_cart">
                <a href="/singleBlog/<%= ele.id %>">
                    <img src="/storage/<%= ele.blog_image %>" alt="" width="100%">
                    <div>
                        <h4><%= ele.title %></h4>
                        <p>
                            <%= ele.description %>
                        </p>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
</div>

<script>
    let closeAlert = document.getElementById("closeAlert");
    closeAlert.addEventListener("click", (e) => {
        e.target.parentElement.remove();
    })
</script>