
<div class="singleBlog">
        
    <% if (message.length > 0) { console.log(message[0] == "success") %>
        <div class="alert <%= message[0] == 'success' ? 'alert-success' : 'alert-danger' %>" role="alert">
            <p><%= message[1] %></p>
            <button id="closeAlert">X</button>
        </div>
    <% } %>
    <div class="singleBlog_container">
        <div class="singleBlog_img" style="width: 100%;">
            <img src="/storage/<%= singleBlog[0].blog_image %>" alt="" width="60%">
        </div>
        <div class="singleBlog_information">
            <h2><%= singleBlog[0].title %></h2>
            <p>
                <%= singleBlog[0].description %>
            </p>
            <% if (blogCategories.length > 0) { %>
                <div class="list_category">
                    <strong>Categories : </strong>
                    <ul>
                        <% blogCategories.forEach(cat => { %>
                            <a href="#"><li><%= cat.name_category %></li></a>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
            <div class="singleBlog_btn">
                <a href="/updateBlog/<%= singleBlog[0].id %>"><button>Update</button></a>
                <a href="/deleteBlog/<%= singleBlog[0].id %>"><button>Delete</button></a>
            </div>
        </div>
    </div>
</div>

<script>
    let closeAlert = document.getElementById("closeAlert");
    closeAlert.addEventListener("click", (e) => {
        console.log(e.target.parentElement.remove());
    })
</script>